:root {
   --text-color: #252B42;
   --second-text-color: #737373;
   --primary-color: #31A0FE;
   --light-text-color: #FFFFFF;
   --light-background-color: #FFFFFF;
   --muted-color: #BDBDBD;
   --tonal-background: #E1F4FF;
   --dark-background: #252B42;
   --secondary-color-tonal: #D6F1CC;
   --success-color: #2DC071;
   --success-color1: #23856D;
}