@charset "UTF-8";

/* Скидання стилів */
@import url("../css/reset.css");
@import url("../css/colors.css");
body {
   position: relative;
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 14px;
   color: var(--text-color);
}
.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	padding-inline: 15px;	
	max-width: 1100px;
	margin: 0 auto;
}
.products__title,
.why-us__title,
.reviews__title,
.join__title {
   font-family: "Open Sans",sans-serif;
   font-weight: 700;
   font-size: 40px;
   line-height: 1.4;
   color: var(--text-color);
}
.hero__text,
.why-us__text,
.features__text p,
.pricing__text,
.join__text,
.body-footer__text {
   font-size: 14px;  
   font-weight: 400;
   line-height: 1.4;
   color: var(--second-text-color);
}
/* Компоненти */
.button {
   background-color: var(--light-text-color);
   color: var(--text-color);
   transition:
      background-color 0.3,
      color 0.3s;
   text-align: center;
   border-radius: 24px;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
   padding-inline: 40px;
   padding-block: 10px;
   line-height: 2;
   transition: 0.3s;
}
.button:hover {
   background-color: var(--primary-color);
   color: var(--light-text-color);
}
.button--primary {
   background-color: var(--primary-color);
   color: var(--light-text-color);
}
.button--primary:hover {
   background-color: var(--light-text-color);
   color: var(--text-color);
}

/* HEADER */
.header {
   background-color: var(--tonal-background);
}

.header__body {
   padding-block: 28px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   position: relative;
		z-index: 5;
		flex-shrink: 0;
		overflow: hidden;
      display: flex;
      align-items: center;
      gap: 10px;
}

.header__image-logo {
	max-width: none;
}

.header__logo span {
   font-size: 17px;
   line-height: 1.5;
}

.header__menu {
   flex-grow: 1;
}

.menu__list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 64px;
   color: var(--second-text-color);
}

.menu__link:hover {
   text-decoration: underline;
}

.header__button {
    transition:
      background-color 0.3,
      color 0.3s;
   text-align: center;
   border-radius: 25px;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
   padding: 6px 24px;
   background-color: var(--light-text-color);
   line-height: 2;
}

.header__button:hover {
   background-color: var(--primary-color);
   color: var(--light-text-color);
}

/* HERO */
.hero {
   background-color: var(--tonal-background);
   display: flex;
   /* min-height: 100svh; */
   align-items: flex-end;
}

.hero__container {
   display: flex;
   flex-direction: column;

   align-items: center;
   gap: 136px;
}

.hero__body {
   padding-top: 30px;
   padding-bottom: 63px;
   display: flex;
   gap: 128px;
}

.hero__content {
   padding-top: 53px;
   flex-grow: 1;
   flex-basis: 100px;
}

.hero__title {
   max-width: 440px;
   font-family: "Open Sans",sans-serif;
   font-weight: 800;
   line-height: 1.3;
   font-size: 48px;   
}

.hero__title span {
   color: var(--primary-color);
}

.hero__title:not(:last-child) {
   margin-bottom: 25px;
}

.hero__text {
   max-width: 357px;
}

.hero__text:not(:last-child) {
   margin-bottom: 54px;
}

.hero__buttons {
   margin-bottom: 46px;
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}

.hero__buttons .button {
   padding-inline: 40px;
   padding-block: 10px;
}

.hero__features {
   display: flex;
   flex-wrap: wrap;
   gap: 39px;
}

.hero__link {
   display: inline-flex;
   align-items: center;
   padding: 12px;
}

.hero__link img {
   display: block;
   flex-shrink: 0;
   margin-right: 10px;
}

.hero__features span {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.3;
   color: var(--text-color);
}

.picture {
   position: relative;
}

.picture__ellipse {
   position: absolute;
   top: 115px;
   left: 43px;
   width: 421px;
   height: 421px;
   border-radius: 100%;
   background-color: var(--success-color1);
   z-index: 2;
}

.picture__image {
   position: relative;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: auto;
}

/* LEARNING */
.page__learning {
   position: relative;
   z-index: 2;
   background: linear-gradient(
      to bottom,
      var(--tonal-background) 60%,
      var(--light-background-color) 40%
      );
   }

.learning__cards {
   display: flex;
   justify-content: center;
   gap: 31px;
   align-items: stretch;
   padding-block: 73px;
}

.learning__card {
   flex: 1 1 0;
   min-width: 0;
   padding: 35px 46.5px;
   border-radius: 8px;
   box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
   background-color: var(--dark-background);
   text-align: center;
}

.learning__picture {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

.learning__icon {
   width: 72px;
   height: 72px;
}

.learning__title {
   margin-bottom: 20px;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.5;
   color: var(--light-text-color);
}

.learning__text {
   font-size: 14px;
   font-weight: 400;
   line-height: 1.4;
   text-align: center;
   color: var(--muted-color);
}

/* PRODUCTS */
.products__body {
   padding-top: 100px;
   padding-bottom: 128px;
}

.products__header {
   margin-bottom: 18px;
   display: flex;
   justify-content: space-between;
}

.products__title {
   max-width: 355px;
   text-transform: capitalize;
}

.products__button {
   line-height: 2;
}

.products__cards {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));   
   gap: 37px 17px;
}

.card__item {
   display: flex;
   gap: 24px;
   border-radius: 8px 8px 8px 8px;
   box-shadow: 0 13px 19px 0 rgba(0,0,0,.07);
}

.card__body {
   align-self: center;
}

.card__title {
   margin-bottom: 12px;
}

.title {
   font-size: 16px;
   line-height: 1.5;
   color: var(--text-color);
   text-transform: capitalize;
}

.card__author {
   margin-bottom: 16px;
   font-weight: 600;
   line-height: 1.7;
   color: var(--second-text-color);
   text-transform: capitalize;
}

.card__rating {
   margin-bottom: 8px;
}

.card__coments {
   font-size: 12px;
   font-weight: 400;
   line-height: 1.3;
   color: var(--muted-color);
}

/* WHY-US */
.why-us__body {
   padding-top: 128px;
   padding-bottom: 140px;
   display: flex;
   gap: 113px;
}

.why-us__wrapper {
   position: relative;
}

.why-us__decor {
   width: 180px;
   height: 180px;  
}

.why-us__decor--blue {
   position: absolute;
   top: -33px;
   left: 0;
   background-color: var(--tonal-background);
   z-index: 1;
}

.why-us__decor--green {
   position: absolute;
   bottom: 63px;
   right: -60px;
   background-color: var(--secondary-color-tonal);
   z-index: 1;
}

.why-us__image-wrapper {
   position: relative;
   padding-left: 44px;
   z-index: 2;
   overflow: hidden;
}

.why-us__image {
   width: 100%;
   display: block;
   border-top-left-radius: 25px;
   border-bottom-right-radius: 25px;
}

.why-us__content {
   max-width: 507px;
}

.why-us__header {
   margin-bottom: 47px;
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.why-us__text {
   max-width: 500px;
}

.why-us__features {
   display: flex;
   flex-direction: column;
   gap: 62px;
}

.features__link {
   display: flex;
   gap: 24px;
   padding: 20px 40px 27px 24px;
   border-radius: 25px;
   transition:
      background-color 0.3s,
}

.features__link:hover {
  background-color: var(--dark-background);
  color: #fff;
}

.features__link:hover h5,
.features__link:hover p {
  color: #fff;
}

.why-us__features:not(:last-child) {
   margin-bottom: 60px;
}

.features__title {
   margin-bottom: 5px;
}

/* PRICING */
.pricing {
   position: relative;
   z-index: 2;
   background: linear-gradient(
      to bottom,
      var(--dark-background) 85%,
      var(--light-background-color) 40%
   );
}

.pricing__body {   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 110px;
   padding-bottom: 106px;
}

.pricing__header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-bottom: 92px;
   color: var(--light-text-color);
}

.pricing__title {
   font-size: 48px;
   font-family: "Open Sans",sans-serif;
   font-weight: 800;
   line-height: 1.25;
   color: var(--light-text-color);
}

.pricing__title:not(:last-child) {
   margin-bottom: 25px;
}

.pricing__text {
   max-width: 500px;   
}

.pricing__cards {
   display: flex;
   gap: 25px;
   margin-bottom: -268px;
}

.pricing__card {
   max-width: 340px;
   display: flex;
   flex-direction: column;
   gap: 17px;
   padding: 40px;
   border-radius: 8px 8px 8px 8px;
   box-shadow: 0 13px 19px 0 rgba(0,0,0,.07);
   background-color: var(--light-background-color);
   transition: 0.3s;
}

.pricing__card:hover {
   transform: scale(1.05);
   background-color: var(--tonal-background);
}

.pricing__advant {
   font-size: 16px;
   text-align: left;
   line-height: 1.5;
   color: var(--text-color);
   text-transform: capitalize;
}

.pricing__tariff {
   display: flex;
   gap: 12px;
   align-items: center;
}

.pricing__tariff span {
   font-size: 40px;
   font-family: "Open Sans",sans-serif;
   font-weight: 700;
   line-height: 1.425;
   color: var(--text-color);
}

.tariff__current h5 {
   font-size: 16px;  
   line-height: 1.5;
   color: var(--text-color);
   text-transform: capitalize;
}

.pricing__card:hover .tariff__current h5 {
  color: var(--second-text-color);
}

.tariff__current p {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.3;
   color: var(--second-text-color);
}

.pricing__decor--blue {
   width: 47px;
   height: 4px;
   background-color: var(--primary-color);
}

.pricing__decor-text {
   font-size: 12px;
   font-weight: 400;
   line-height: 1.3;
   color: var(--second-text-color);
}

.pricing__list {
   max-width: 270px;
}

.pricing__item {
   margin-bottom: 15px;
   font-weight: 600;
   color: var(--text-color);
   line-height: 1.71;
   display: flex;
   align-items: center;
   gap: 10px;
}

.pricing__check {
   width: 32px;
   height: 32px;
   background-color: var(--success-color);
   border-radius: 100%;
   text-align: center;

   display: flex;
   align-items: center;
   justify-content: center;

   transition: 0.3s;
}

.pricing__check img {
   width: 16px;
   height: 12px;
}

.pricing__check:hover {
  background-color: var(--muted-color);
}

/* Reviews */
.reviews__body {
   padding-top: 340px;
   padding-bottom: 87px;
}

.reviews__title {
   margin-bottom: 110px;
   text-align: center;
   text-transform: capitalize;
}

.reviews__wrapper {
   position: relative;
   margin: 0 auto;
   max-width: 805px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.reviews__avatar {
   margin-bottom: 16px;
   border-radius: 100%;
}

.reviews__avatar-title {
   margin-bottom: 5px;
   font-weight: 600;
   line-height: 1.7;  
   color: var(--text-color);
}

.reviews__avatar-user {
   margin-bottom: 32px;
   font-size: 12px;
   font-weight: 400;
   line-height: 1.3;
   color: var(--second-text-color);
}

.reviews__stars {
   margin-bottom: 16px;
}

.reviews__text {
   text-align: center;
   font-size: 20px;
   font-family: "Open Sans",sans-serif;
   font-weight: 400;
   line-height: 1.5;
   color: var(--second-text-color);
}

.decor {
   position: absolute;
   border-radius: 50%;
   object-fit: cover;
}

.decor-1 {
   top: -35px;
   left: -167px;
}

.decor-2 {
   top: 94px;
   left: -112px;
}

.decor-3 {
   top: 340px;
   left: -186px;
}

.decor-4 {
   top: -25px;
   left: 787px;
}

.decor-5 {
   top: 210px;
   left: 870px;
}

.dots {
   margin-top: 157px;
   text-align: center;
}

.dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--tonal-background);
  border-radius: 50%;
  margin: 0 17px;
}

.dots .active {
   background-color: var(--primary-color);
}
/* Join */
.join {
   background-color: var(--tonal-background);
}

.join__body {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-block: 75px;
}

.join__content {
   max-width: 420px;
}

.join__title {
   margin-bottom: 25px;
   text-transform: capitalize;
}

.join__button {
   background-color: var(--primary-color);
   color: var(--light-text-color);
   transition:
      background-color 0.3s,
      color 0.3s;
   text-align: center;
   border-radius: 24px;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
   padding-inline: 32px;
   padding-block: 10px;
   line-height: 2;
   transition: 0.3s;
}

.join__button:hover {
   background-color: var(--light-text-color);
   color: var(--text-color);
}

/* footer */
.footer__body {
   padding-block: 80px;
   padding-right: 90px;
}

.body-footer {
   display: flex;
   gap: 377px;
}

.body-footer__content {
   display: flex;
   flex-direction: column;
   gap: 25px;   
}

.body-footer__title,
.body-footer__column h4 {
   font-size: 24px;
   line-height: 1.3;
   color: var(--text-color);
   text-transform: capitalize;
}

.social {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.body-footer__columns {
   display: flex;
   gap: 83px;
}

.body-footer__column h4 {
   margin-bottom: 20px;
}

.body-footer__item:not(:last-child) {
   margin-bottom: 10px;
}

.body-footer__link {
   line-height: 1.7;
   color: var(--second-text-color);
}

.footer__bottom {
   background-color: var(--tonal-background);
}

.bottom-footer__body {
   padding-block: 25px;
}

.bottom-footer__body h6 {
   line-height: 1.7;
   color: var(--second-text-color);
   text-align: center;
   text-transform: capitalize;
}
